@model Leaderboard_JEI.Models.Perfil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Número</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pontos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DarPontos">Voltar</a>
</div>
