@*<div class="pb-4 pl-3 mb-3 center">
    <h1 class="display-4">Bem vindo às Jornadas de Engenharia Informática</h1>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .center {
        position: absolute;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
    }

    h1 {
        color: white;
    }

    p {
        color: white;
    }

    body {
        background-image: url(/Images/setup.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
</style>