@model IEnumerable<Leaderboard_JEI.Models.Participante>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista de Coins Geral</h1>

<p>
    <a asp-action="Listadiaria" class="btn btn-primary">Pontuação Diária</a>
</p>

<table class="table">
    @*<thead>
        <tr>
            <th>
                <label>Posição</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontuacao)
            </th>

            <th></th>
        </tr>
    </thead>*@
    <tbody>
        @{ int i = 0; } 
@foreach (var item in Model)
{
        <tr>
            @{
                i = i + 1;
            }
            <td style="width:30px;">
                <label>#@i</label>
            </td>
            <td style="width:500px;">
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontuacao)
            
                <img src="~/Images/coin.png" style="height:35px; width:35px"/>
            </td>
        </tr>
}
    </tbody>
</table>
