@model IEnumerable<Leaderboard_JEI.Models.Perfil>

@{
    ViewData["Title"] = "ListPerfis";
}

<h1>ListPerfis</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            
        </tr>
}
    </tbody>
</table>
