@model IEnumerable<Leaderboard_JEI.Models.Participante>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista de Coins Diários</h1>

<p>
    <a asp-action="Lista" class="btn btn-primary" >Pontuação Geral</a>
</p>

<form>
    <input type="text" placeholder="Número a Procurar" class="input-group-text" name="numero" style="display:inline-block" />
    <input type="submit" class="btn btn-primary" value="Procurar" style="display:inline-block" />
</form>

<table class="table">
    @*<thead>
        <tr>
            <th>
                <label>Posição</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PontuacaoDiaria)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {

        <tr>
            @{
                i = i + 1;
            }
            <td style="width:30px;">
                <label>#@i</label>
            </td>
            <td style="width:500px;">
                @Html.DisplayFor(modelItem => item.Num)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PontuacaoDiaria)
            
                <img src="~/Images/coin.png" style="height:35px; width:35px" />
            </td>

        </tr>
        }
    </tbody>
</table>
