
@{
    ViewData["Title"] = "UploadCSV";
}

<h1>UploadCSV</h1>

<div class="container">
    <div class="row">
        <section>
            <form method="post" enctype="multipart/form-data" asp-action="UploadCSV">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload do ficheiro</p>
                        <input type="file" name="arquivos" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>